.button{
  width: 75%; 
  padding: 15px; 
  background: $blue;
  border-radius: 3px;
  border: none;
  font-size: 1.8em;
  font-weight: 300;
  color: white; 
  text-decoration: none;
  line-height: 1;

}

.button--link{
  background: none
}


